<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>THE RACE</title>
</head>
<body>
<h1>Current total: <th:block th:text="${total}"></th:block> s</h1>
<form style="display: inline" action="total" th:action="@{/doPost}" method="post">
    <input type=submit value=+10>
</form>
<form style="display: inline" action="showTotal" th:action="@{/doGet}" method="get">
    <input type=submit value="Show Total">
</form>
</body>
</html>